html(lang="en")
  head
    title Profile
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    if (process.env.NODE_ENV === 'development')
      link(rel="stylesheet", href="/tests/vendor/mocha.css")
    style.
      body{ padding-top:80px;  word-wrap:break-word;}
  body
    .container
      .page-header.text-center 
        h1 #{currentPost.Title} 
          small
            | by 
            strong #{currentPost.Name} 
            | on #{currentPost.Date.toDateString()} 
      .jumbotron
        p #{currentPost.PostBody}
      each comment in postComments
        .panel.panel-default
          .panel-body #{comment.commentContent}
          .panel-footer 
            | #{comment.Date.toDateString()}
            | by 
            strong #{comment.Name}
      form(action="/profile/post/"+currentPost.id+"/newComment?ownerId="+global.User.id+"&detailId="+currentPost.detailID,method="POST")
          .form-group
            
                label(for="comment").
                  Comment
                textarea#comment.form-control(type="text",placeholder="Type content here",rows="5",name="comment")
          .form-group 
                button.btn.btn-primary.btn-lg(type="submit") Add comment          
      //- if (process.env.NODE_ENV === 'development')
      //-     #mocha.col-sm-12
  //- if (process.env.NODE_ENV === 'development')
  //-   script(src="/tests/vendor/mocha.js")
  //-   script(src="/tests/vendor/chai.js")
  //-   script(src="/tests/tests-profile.js")
  //-   script mocha.run();
  
